{% extends 'userhandler/login_register_template.html' %} {% load static %}
<!--comment for formatting purposes-->
{% block body %} {% if page == 'login' %}

<div>
	<form method="POST" action="{% url 'login' %}">
		{% csrf_token %}
		<label> Username </label>
		<input type="text" name="username" placeholder="Enter username..." />
		<label> Password </label>
		<input type="password" name="password" placeholder="Enter password..." />
		<input type="submit" value="Login" />
	</form>

	<p>Haven't signed up yet? <a href="{% url 'register' %}"> Sign Up </a></p>
</div>
{% elif page == 'register' %}
<div>
	<form method="POST" action="{% url 'register' %}">
		{% csrf_token %}
		<!--comment for formatting purposes-->
		{{ form.as_p }}
		<input type="submit" value="Register" />
	</form>

	<p>Already have an account? <a href="{% url 'login' %}"> Sign in </a></p>
</div>

{% endif %} {% endblock %}
